<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OCC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OCC.Properties.Settings.leadsjt6_TernaDBConnectionString" connectionString="server=216.10.252.35;User Id=leadsjt6_suraj;database=leadsjt6_TernaDB" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <userSettings>
        <OCC.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="CenterType" serializeAs="String">
                <value/>
            </setting>
            <setting name="CenterName" serializeAs="String">
                <value/>
            </setting>
        </OCC.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
